<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yeah.android">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.yeah.android.YeahApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.yeah.android.activity.user.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.yeah.android.activity.user.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.yeah.android.activity.MainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.yeah.android.activity.camera.ui.CameraActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yeah.android.activity.camera.ui.Camera2Activity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.yeah.android.activity.camera.ui.CropPhotoActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            android:screenOrientation="portrait"/>

        <activity android:name="com.yeah.android.activity.camera.ui.AlbumActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.yeah.android.activity.camera.ui.PhotoProcessActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.camera.ui.PhotoFilterActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.camera.ui.PhotoStickerActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.yeah.android.activity.user.PhotoPostAvtivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.yeah.android.activity.EditTextActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name="com.yeah.android.activity.user.RegistActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name="com.yeah.android.activity.user.VerifyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name="com.yeah.android.activity.user.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity android:name="com.yeah.android.activity.user.UserHomeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.yeah.android.activity.user.UserInfoActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.yeah.android.activity.user.SettingActivity"
            android:screenOrientation="portrait"/>

        <!-- umeng -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="561b549c67e58e0d8000374c" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="debug" />
    </application>

</manifest>
